@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background-color: #fff;
}

[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

.dark body {
  background-color: #000;
  color: #fff;

}

@layer utilities {
  .page-height {
    @apply z-40 min-h-[calc(100vh-70px)] py-5;
  }

  .text-balance {
    text-wrap: balance;
  }
}