@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background-color: #fff;
}

[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

.dark body {
  background-color: #000;
  color: #fff;

}

@layer utilities {
    ::selection {
        @apply bg-purple-200/80 dark:bg-purple-700/80;
      }
  .page-height {
    @apply z-40 min-h-[calc(100vh-110px)] py-5;
  }
  .heading {
    @apply text-2xl md:text-3xl my-1 font-bold ml-4
  }

  .text-balance {
    text-wrap: balance;
  }
}